body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 109px;
  }

  .Googlelogo {

  }

  .searchbar {
    width: 575px;
    height: 40px;
  }

  .Searchbutton {
    height: 40px;
    width: 130px;
    font-size: 14px;
  }

  .Imfeelinlucky {
    height: 40px;
    width: 130px;
    font-size: 14px;
  }