body {
    background-color: black;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Googlelogo {
   position: relative;
   
  }

  .searchbar {

  }

  .Searchbutton {
   
  }

  .Imfeelinlucky {

  }