body {
    display: grid;
  }/ 

  a {
    text-decoration: none;        /* Remove text styles */ 
    color: rgb(0,0,0,0.87);
    font-size: 13px;
}

  .top-navbar {
    display: flex; 
    font-size: 14px;
    font-family: arial,sans-serif; 
    justify-content: space-between; /* how to get that nice space between */ 
    width: 100%;                    /* how to get that nice space between */ 
    font-size: 14px;
    font-family: arial, sans-serif;
  }

  .navbar-right {
    display: grid;
    padding-left: 15px;
    padding-top: 20px;
    gap: 15px;
    grid-template-rows: 50px;
    grid-template-areas: "about store";
    padding-right: 1em;
  }


  .navbar-left {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px;
    grid-template-areas: "gmail images";
    padding-left: 1em;
  }

  .Google-logo {
    display: grid;
    padding-top: 150px;
    place-items: center;
    
  }

  .searchbar {
    display: grid;
    margin: auto;               /* Centers the search bar */ 
    padding: 6px;          
    margin-top: 30px;
    width: 400px;
    font-size: 17px;
    border-radius: 30px;
  }
 
  .Buttons
  {
    display: flex;
    margin: auto;
    gap: 15px;                        /* Spaces between the buttons*/
    padding-top: 20px;
    font-size: 14px;
    font-family: arial,sans-serif;
  }
  .Left-Button
  {
    border-radius: 4px;               /* rounds the corners */
    text-align: center;
  
   }

  .Right-Button
  {
    border-radius: 4px;               /* rounds the corners */
    text-align: center;
    border: none;                     /* rounds the corners */
  }

  .footer {
    font-size: 14px;
    font-family: arial, sans-serif;
    position: absolute;             /* Moves the footer to the bottom*/
    bottom: 0px;                    /* Moves the footer to the bottom*/
    display: flex;
    justify-content: space-between; /* how to get that nice space between */ 
    width: 100%;                    /* how to get that nice space between */ 
    background: #f2f2f2;          /* Colors background */ 
    border: 1px solid #f2f2f2;    /* Creates border around footer */
  }
  
  .footer-left {
    display: grid;
    grid-template-columns: 100px 100px 150px;
    grid-template-rows: 10px;
    grid-template-areas: "advertising business hsw";
    padding-left: 1em;  
    align-self: center;
    justify-self: center;
  }
  
  .footer-right {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 50px;
    grid-template-areas: "privacy terms settings";
    padding-right: 1em;
    align-self: center;
    justify-self: center;
  }